.header{
    width: 100%;
    background-color: gray;
    height: 70px;
}
.nav-list{
    height: 70px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

